.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > * {
    margin: 1rem;
  }
}
.dnd-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='32' ry='32' stroke='%23EFEFEFFF' stroke-width='3' stroke-dasharray='8%2c8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 2rem;
  padding: 1rem 0rem;
  width: 80vw;
  max-width: 30rem;
  transition: background-color 0.2s;
}
.dnd-file-hover {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='32' ry='32' stroke='%23EFEFEFFF' stroke-width='3' stroke-dasharray='8%2c8' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e");
  background-color: rgba(255, 158, 190, 0.6);
}
.icon-upload {
  transition: transform 0.5s;
  color: #efefef;
}
.icon-file-dropped {
  animation: rubberBand linear 1s;
}
.icon-file-hover {
  transform: scale(1.2);
}

.icon-upload-container {
  font-size: 8rem;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}
.btn-browse {
  margin: 0.5rem 0;
}
p {
  padding: 0;
  margin: 0.5rem 0;
  text-align: center;
  color: #efefef;
}
.spacing-container {
  height: 2rem;
}
.img-container {
  display: flex;
}
.demo-img {
  border: 0.25rem solid #efefef;
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  overflow: hidden;
  touch-action: none;
  padding: 0;
  margin: 0;
  object-fit: cover;
  transition: border-radius 0.5s;
  &:hover {
    border-radius: 5%;
  }
  user-select: none;
}
.demo-img:nth-child(odd) {
  margin-top: 5vw;
}
@keyframes rubberBand {
  from {
    transform: scale3d(1.2, 1.2, 1);
  }

  30% {
    transform: scale3d(1.5, 1, 1);
  }

  40% {
    transform: scale3d(1, 1.5, 1);
  }

  50% {
    transform: scale3d(1.4, 1.1, 1);
  }

  65% {
    transform: scale3d(1.2, 1.3, 1);
  }

  75% {
    transform: scale3d(1.3, 1.2, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
