:host {
  --ag-cell-horizontal-padding: 0;
  --ag-row-border: none;
  ::ng-deep .ag-cell {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: none !important;
    border-bottom: none !important;
    &.cell--selected {
      border-left: 3px solid green !important;
      border-right: 3px solid green !important;
    }
  }
}
