.paper-container {
  // same as google-doc
  height: 1066px;
  width: 754px;
}
.icon-container {
  width: 16px;
}

.printable,
.printable * {
  border: none !important;
}
.printable .card {
  border-radius: 0 !important;
}
