@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

@layer base {
  .font-serif p,
  .font-serif ul,
  .font-serif a,
  .font-serif h3 {
    font-size: 0.78125rem;
  }
  .font-mono p,
  .font-mono ul,
  .font-mono a,
  .font-mono h3 {
    font-size: 0.66875rem;
    word-break: break-word;
  }
  .font-mono .text-xs {
    font-size: 10px;
  }
  .font-sans p,
  .font-sans ul,
  .font-sans a,
  .font-sans h3 {
    font-size: 0.71875rem;
  }
}

.tooltip::before {
  font-size: 0.75rem; /* Tailwind's text-xs = 12px = 0.75rem */
}
