@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

@layer base {
  .font-serif p,
  .font-serif ul,
  .font-serif a,
  .font-serif h3 {
    font-size: 0.775rem;
  }
  .font-mono p,
  .font-mono ul,
  .font-mono a,
  .font-mono h3 {
    font-size: 0.67rem;
    word-break: break-word;
  }
  .font-mono .text-xs {
    font-size: 0.625rem;
  }
  .font-sans p,
  .font-sans ul,
  .font-sans a,
  .font-sans h3 {
    font-size: 0.72rem;
  }
}

@layer components {
  .circle-button {
    @apply btn btn-circle btn-sm w-8 h-8 text-lg 
           bg-base-100 border-base-100 
           hover:bg-base-200 hover:border-base-200;
  }
}

address {
  font-style: normal;
}

.tooltip::before {
  font-size: 0.75rem; /* Tailwind's text-xs = 12px = 0.75rem */
}
