<div class="container">
  <app-drag-and-drop
    *ngIf="screenDisplayed === 'UPLOAD'"
    (imageFile)="onImageSelected($event)"
  ></app-drag-and-drop>
  <app-image-slicer
    *ngIf="screenDisplayed === 'CROP'"
    [imageFile]="imageFile"
    (uploadNew)="onUploadNew($event)"
    (images)="onImageCrop($event)"
  ></app-image-slicer>
  <app-puzzle
    *ngIf="screenDisplayed === 'PUZZLE'"
    [images]="images"
    (uploadNew)="onUploadNew($event)"
    [originalImage]="originalImage"
  ></app-puzzle>
</div>
